body {
}

.app {
  width: 520px;
  margin: 0 auto;
  padding: 32px;
}

.app__title {
  text-align: center;
}

.app .app__add-counter {
  margin: 15px auto 0;
  display: block;
}

.app .list-group {
  margin-bottom: 10px;
}

.app .list-group-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-group-item * {
  margin-right: 10px;
}

.list-group-item *:last-child {
  margin-right: 0;
}